header .head {
  height: 57px;
  position: relative;
}
.logo {
  float: left;
  margin-left: 59px;
  cursor: pointer;
}
.logo li {
  float: left;
}
#logo-img {
  height: 31px;
  margin: 13px 0;
}
#logo-word {
  height: 21px;
  margin: 18px 0 18px 10px;
}
#logo-word span {
  font-family: "SimHei";
  font-size: 21px;
}
.login {
  font-size: 14px;
  color: rgb(239, 79, 71);
  cursor: pointer;
  float: right;
  margin: 18px 66px 0 8px;
}
.navbar {
  float: right;
}
.navbar li {
  font-size: 14px;
  float: left;
  margin: 18px 4px 0 4px;
  padding: 0 19px 15px 19px;
}
.navbar li a {
  color: rgb(120, 123, 131)
}
.navbar li:hover {
  color: rgb(239, 79, 71);
  border-bottom: rgb(239, 79, 71) 5px solid;
}
.slogan .slogan-start {
  color: #fff;
  background: url(https://ws1.sinaimg.cn/large/691e2a69gy1fjq189chuwj20zk0nqnpd.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 690px;
}
.slogan .slogan-info {
  padding: 228px 0 67px 115px;
}
.slogan .slogan-start  .slogan-title {
  font-size: 60px;
  padding-bottom: 20px;
}
.slogan .slogan-start .slogan-content {
  font-size: 21px;
  padding: 10px;
}
.slogan .slogan-start a {
  color: #fff;
  font-size: 30px;
  background-color: rgb(239 , 79, 71);
  padding: 11px 100px;
  margin-left: 126px;
}
.slogan-intro .intro-details {
  float: left;
  width: 25%;
  text-align: center;
  margin: 44px 0 86px 0;
}
.slogan-intro .intro-details p {
  color: rgb(119, 119, 119);
  font-family: "SimHei";
  margin-top: 46px;
  padding: 0 70px;
  border-right: 2px solid rgb(119, 119, 119);
}
.slogan-intro .intro-details:last-child p {
  border: none;
}
.intro-title {
  height: 361px;
  background-color: rgb(237, 237, 237);
  text-align: center;
  padding-top: 90px;
}
.intro-title h1 {
  color: rgb(161, 161, 161);
  font-size: 54px;
  font-family: "SimHei";
  margin-top: 48px;
}
.intro .city {
  background: url(../image/task_1_7_1_0000s_0004s_0023_看地图.png) center no-repeat;
  background-size: cover;
  padding: 53px 108px 133px 108px;
  text-align: center
}
.city h3 {
  font-size: 21px;
  color: #fff;
  margin-bottom: 10px;
}
.city .line {
  width: 32px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}
.city>p {
  font-size: 12px;
  color: #fff;
  margin-top: 18px;
}
.city ul {
  margin-top: 52px;
}
.city ul li { 
  float: left;
  margin: 0 15px;
  width: 236px;
  height: 36px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.city ul li a {
  color: rgb(168, 170, 170);
  text-decoration: none;
  font-size: 12px;
  line-height: 36px;
}
.city ul li .list a:hover {
  background-color: rgb(239, 79, 71);
  color: #fff;
}
.city ul li>a {
  float: left;
  padding-left: 12px;
}
.city .chosen:hover .list {
  display: block;
}
.city ul li img {
  position: absolute;
  top: 9px;
  right: 9px;
}
.city ul li #narrow {
  position: absolute;
  top: 14px;
  right: 12px;
}
.city .list a {
  color: rgb(120, 120, 120);
  display: block;
  padding-left: 33px;
  height: 27px;
  line-height: 27px;
}
.city .chosen {
  position: relative;
}
.city .list {
  position: absolute;
  text-align: left;
  width: 236px;
  background-color: rgb(227, 227, 227);
  top: 100%;
  display: none;
}
.city .list .icon {
  position: absolute;
  left: 9px;
  top: 9px;
}
.city .search button {
  width: 236px;
  height: 36px;
  color: #fff;
  border: none;
  background-color: rgb(239, 79, 71);
  cursor: pointer;
}
.action {
  height: 605px;
  background-color: rgb(247, 247, 247);
  padding: 100px 148px 118px 148px;
}
.action ul {
  text-align: center;
  margin: 0 auto;
}
.action li {
  float: left;
  width: calc(25%);
  text-align: center;
}
.action li img {
  width: 219px;
  height: 338px;
  display: block;
  border: 1px solid rgb(210, 210, 210);
  padding: 10px 8px;
  margin-left: 13px;
  background-color: #fff;
}
.action .others-active h4 {
  font-size: 16px;
  color: rgb(149, 149, 149);
  margin: 11px 0px;
}
.action .others-active p {
  font-size: 12px;
  color: rgb(137, 137, 137);
}
.action .shanghai-active h4 {
  font-size: 22px;
  color: #000;
  margin: 7px 0;
  padding-left: 30px;
  letter-spacing: 30px;
}
.action .shanghai-active p {
  font-size: 12px;
  color: rgb(137, 137, 137);
  margin-bottom: 7px;
}
.detail-time {
  height: 565px;
  position: relative;
}
.time-left {
  width: 850px;
  height: 565px;
  color: #fff;
  float: left;
  background: url(../image/task_1_7_1_0000s_0003s_0012_7.png) center no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.time-left img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.time-left .newworld {
  font-size: 50px;
  margin-top: 130px;
}
.time-left .time {
  font-size: 120px;
}
.time-left .time-content {
  font-size: 22px;
  margin-bottom: 20px;
}
.time-right {
  width: 288px;
  float: right;
  padding-top: 120px;
  margin-right: 70px;
  text-align: center;
}
.time-right .time-title {
  font-size: 20px;
  color: #000;
  margin: 30px 0;
}
.time-right .time-title span {
  font-size: 20px;
  color: rgb(231, 80, 77);
}
.time-right .time-right-content {
  color: rgb(170, 170, 170);
  font-size: 12px;
  line-height: 2.5em;
  text-align: justify;
  margin-bottom: 50px;
}
.time-right .time-btn {
  color: rgb(231, 80, 77);
  border: 1px solid rgb(231, 80, 77);
  padding: 9px 29px;
  margin-bottom: 24px;
}
.time-right .time-dots .dot {
  width: 12px;
  height: 12px;
  margin-right: 14px;
  border: 2px solid rgb(149, 149, 149);
  border-radius: 50%;
  float: left;
}
.time-right .time-dots {
  position: absolute;
  bottom: 120px;
  right: 170px;
}
.time-right .time-dots .dot:hover {
  background-color: rgb(149, 149, 149)
}
.more {
  height: 521px;
}
.more .bar {
  float: left;
  height: 100%;
  text-align: center;
}
.more .bar p {
  font-size: 21px;
  line-height: 1.5em;
}
.more .bar a {
  font-size: 21px;
  padding: 11px 43px;
}
.more .more-bar1 {
  width: 425px;
  background-color: rgb(231, 80, 77);
  color: #fff;
  padding-top: 170px;
}
.more .more-bar1 .bar1-line {
  width: 33px;
  height: 2px;
  background-color: #fff;
  margin: 26px auto 37px;
}
.more .more-bar1 a {
  color: #fff;
  border: 1px solid #fff;
}
.more .more-bar2 {
  width: 425px;
  padding-top: 170px;
}
.more .more-bar2 .bar2-line {
  width: 33px;
  height: 2px;
  background-color: #000;
  margin: 26px auto 37px;
}
.more .more-bar2 a {
  color: rgb(231, 80, 77);
  border: 1px solid rgb(231, 80, 77);
}
.more .more-bar3 {
  width: 430px;
  background: url(../image/task_1_7_1_0000s_0002s_0010__图像_.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.more .more-bar3 img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.more .more-bar3 .bar3-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.volunteer {
  height: 750px;
  padding-top: 117px;
}
.volunteer .vol-start {
  text-align: center;
}
.volunteer .vol-start h3 {
  font-size: 21px;
}
.volunteer .volunteer-line {
  width: 32px;
  height: 3px;
  background-color: rgb(231, 80, 77);
  margin: 15px auto;
}
.volunteer .vol-start p {
  font-size: 12px;
  color: rgb(170, 170, 170);
}
.volunteer .vol-start {
  margin-bottom: 109px;
}
.volunteer .volunteer-content {
  float: left;
  width: 295px;
  margin: 0 72px 0 136px;
}
.volunteer .volunteer-content h4 {
  font-size: 14px;
  font-family: "SimHei";
  margin-bottom: 12px;
}
.volunteer .volunteer-content p,
.volunteer .volunteer-content a {
  font-size: 12px;
  font-family: "SimSun";
  line-height: 2em;
  color: rgb(161, 161, 161);
}
.volunteer .volunteer-content a {
  float: right;
}
.volunteer .volunteer-content a img {
  margin-right: 5px;
}
.volunteer-content .protocol{
  margin-bottom: 48px;
}
.volunteer-content .right {
  margin-bottom: 26px;
}
.input-area input,
.input-area textarea {
  background-color: rgb(237, 237, 237);
  border: none;
}
.input-area input {
  width: 310px;
  height: 41px;
  padding: 11px;
  margin-right: 18px;
  margin-bottom: 12px;
}
.input-area textarea {
  width: 644px;
  height: 134px;
  margin-bottom: 12px;
  padding: 12px;
}
.input-area .submit {
  width: 644px;
}
.contact {
  height: 358px;
  background-color: rgb(51, 54, 63);
  color: #fff;
  text-align: center;
}
.contact h3 {
  font-size: 21px;
  font-family: "SimHei";
  padding-top: 90px;
}
.contact p {
  font-size: 12px;
  font-family: "SimSun";
  padding-top: 12px;
  margin-bottom: 29px;
}
.contact input {
  width: 431px;
  height: 43px;
  border: none;
  margin: 0;
}
.contact .email {
  padding: 13px 9px;
}
.contact .submit {
  width: 80px;
  color: #fff;
  background-color: rgb(111, 114, 120);
}
.contact .icon {
  margin-top: 36px;
}
.contact .icon .fa {
  font-size: 28px;
  color: #fff;
  margin: 0 14px;
}
footer {
  height: 57px;
}
.foot {
  height: 100%;
  color: #fff;
  font-size: 12px;
  font-family: "SimSun";
  background-color: rgb(47, 47, 56);
}
.foot .footer-left {
  line-height: 57px;
  float: left;
  margin-left: 100px;
}
.foot .footer-right {
  line-height: 57px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}